h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

#navbar-block {
  width: 100%;
  background-color: #efad3b;
  margin-bottom: 137px;
  text-align: center;
}

@font-face {
  font-family: 'Font-English';
  src: url('../assets/font/English/silom-webfont.woff2');
}

.text-english {
  font-family: 'Font-English';
  color: #5b4016;
}


@font-face {
  font-family: 'Font-Chinese';
  src: url('../assets/font/Chinese/Noto_Serif/NotoSerif-Regular.ttf');
}

.text-chinese {
  font-family: 'Font-Chinese';
  color: #5b4016;
}

.g-font-size {
  font-size: 40px;
}

.font_size_top1 {
  font-size: 60px;
}

.font_size_top_button {
  font-size: 30px;
}

.top_button {
  width: 227px;
  height: 65.4px;
  padding: 11.7px 42px 11.7px 42px;
  border-radius: 43px;
  background-color: #efad3b;
  text-align: center;
}

#top_svg_1 {
  width: 490.8px;
  height: 490.8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  object-fit: contain;
}

#top_svg_2 {
  width: 512px;
  height: 512px;
  object-fit: contain;
  display: block;
}

#top_svg_3 {
  width: 512px;
  height: 404px;
  object-fit: contain;
  display: block;
}

#top_svg_4 {
  width: 512px;
  height: 512px;
  object-fit: contain;
  display: block;
}

.margin_top_word1 {
  margin-bottom: 34px;
}

.margin_top_word2 {
  margin-bottom: 54.6px;
}

.color_top_button {
  color: #ffffff;
}