@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/font/HelveticaNeue-Thin.otf');
}

#navbar-block {
  width: 100%;
  background-color: #efad3b;
  margin-bottom: 70px;
  text-align: center;
}

@media only screen and (min-width: 640px) {
  .g-font-size {
    font-size: 40px;
  }
  .content-style {
    width: 100%;
    max-width: 1920px;
    margin-top: 91px;
    text-align: left;
    white-space: normal;
    font-family: 'HelveticaNeue';
  }
  .text-policy {
    word-wrap: break-word;
    padding: 0 15px 0 15px;
  }
  .start_button {
    margin-top: 86.6px;
    width: 142.6px;
    height: 65.4px;
    border-radius: 43px;
  }
  .start_button_font {
    width: 100px;
    height: 70px;
    font-size: 30px;
    display: inline-block;
    border-radius: 43px;
    background-color: #efad3b;
    color: #ffffff;
    text-align: center;
    line-height: 70px;
  }
  #div-footer {
    font-size: 13px;
    width: 100%;
    background-color: #efad3b;
    padding: 20px 0 20px 0;
    margin-top: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #div-footer-left {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    margin-right: 20%;
  }
  #div-footer-right {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
  }
  #div-mail {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #div-fb {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .icon-link {
    display: inline-block;
    width: auto;
  }
  .text-link {
    display: inline-block;
    width: auto;
  }
  #mail-icon {
    width: 60%;
    height: 60%;
  }
  #fb-icon {
    width: 60%;
    height: 60%;
  }
}

@media only screen and (max-width: 641px) {
  #navbar-block {
    width: 100%;
    background-color: #efad3b;
    margin-bottom: 20px;
    text-align: center;
  }
  .g-font-size {
    font-size: 15px;
  }
  .content-style {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    word-wrap: break-word;
  }
  .text-policy {
    word-wrap: break-word;
    padding: 0 15px 0 15px;
  }
  .start_button {
    margin-top: 86.6px;
    width: 142.6px;
    height: 65.4px;
    border-radius: 43px;
  }
  .start_button_font {
    width: 60px;
    height: 50px;
    font-size: 15px;
    display: inline-block;
    border-radius: 22px;
    background-color: #efad3b;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
  }
  #div-footer {
    font-size: 13px;
    width: 100%;
    background-color: #efad3b;
    padding: 20px 0 20px 0;
    margin-top: 70px;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #div-footer-left {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
  }
  #div-footer-right {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
  }
  #div-mail {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #div-fb {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .icon-link {
    display: inline-block;
    width: auto;
  }
  .text-link {
    display: inline-block;
    width: auto;
  }
  #mail-icon {
    width: 60%;
    height: 60%;
  }
  #fb-icon {
    width: 60%;
    height: 60%;
  }
}